
.recipe-list {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}


.recipe-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
  opacity: 0.8;
}


.header-bar {
 height: 50px;
 margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(223, 183, 74, 0.9);
  border-bottom: 1px solid #ddd;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; 
}


.home-button {
  background-color: #396705;
  color: #f2f0f0;
  font-size: 8px;
  margin-right: 20px; 
  padding: 10px 20px;
}


.add-recipe-button {
  background-color: #28a745;
  display: inline-block;
  text-decoration: none;
  color: #ccddd8;
  font-size: 18px;
  margin-left: 20px;
  padding: 10px 20px;
}


.recipe-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease; 
  width: 300px; 
}


.recipe-card-link {
  position: absolute;
  bottom: 10px; 
  left: 10px;
  color: #007bff; 
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease; 
}

.recipe-card-link:hover {
  background-color: rgba(0, 123, 255, 0.8); 
  color: white;
}


.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  padding: 50px 20px 20px; 
}





  .search-button {
    background-color: #218838;
    border: none; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
  }


.search-button:hover {
  background-color: #7e1e1e; 
}
.search-input {
  flex: 1; 
 
  border-radius: 5px; 
  padding: 8px;
  font-size: 16px; 
  color: rgb(11, 10, 10); 
  background-color: transparent; 
}
.home-logo {
  height: 30px; 
  width: auto;


}
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #f4da48;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

span {
  font-size: 18px;
}
