.menu-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; 
  background-color: #f4da48;
  color: rgb(193, 164, 164);
  width: 100vw; 
  position: fixed;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
  height: 80px; 
}

.home-logo {
width: 65px;
height: 65px;
cursor: pointer;
}


.navbar-center {
  padding-bottom: 30px;
  flex-grow: 1; 
  text-align: center; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.favorite-icon-wrapper {
  position: relative; 
  display: flex;
  align-items: center;
}

.favorite-count-circle {
  position: absolute;
  top: -10px; 
  right: -10px; 
  background-color: red;
  color: white;
  border-radius: 50%; 
  width: 20px; 
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; 
}

.heart-icon {
  margin-left: 5px; 
}
.welcome-message{
  color: rgb(244, 55, 12);

}

@media (max-width: 1024px) {
  .menu-bar {
    flex-direction: column; /* Stack elements vertically */
    height: auto; /* Let the height adjust based on content */
    padding: 10px; /* Add padding to give space around elements */
  }

  .home-logo {
    width: 50px; /* Reduce logo size for smaller screens */
    height: 50px;
  }

  .navbar-center {
    padding-bottom: 10px; /* Adjust padding */
  }

  .welcome-message {
    font-size: 18px; /* Reduce font size of the welcome message */
    padding: 10px; /* Add some padding around the message */
    text-align: center; /* Ensure the text is centered */
    word-wrap: break-word; /* Allow text to wrap if it gets too long */
  }

  .navbar-right {
    gap: 10px; /* Reduce the gap between navbar items */
    flex-direction: column; /* Stack items in the right section vertically */
    align-items: flex-start; /* Align the items to the left */
  }

  .favorite-icon-wrapper {
    justify-content: center; /* Center the favorites icon */
  }
}
